<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movie Recommender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-bar-home">
            <a href="/">Home</a>
        </div>
        <div class="nav-bar-links">
            <a href="https://github.com/BBimie/Movie-Recommender-System" target="_blank" class="nav-bar-links-items">Code</a>
            <a href="" target="_blank" class="nav-bar-links-items">Article</a>
            <a href="https://data-science-portfolio-website-git-main-bbimie.vercel.app/" target="_blank" class="nav-bar-links-items">Portfolio</a>
        </div>
    </nav>
    <div>
        <h1 class="title-text">Movie Recommender</h1>

        <div class="wrapper">
            <div class="search-input">
                <form action="{{ url_for('index') }}" method="POST">
                    <input class="input" type="text" id="movie_name" name="movie_name" placeholder="Enter a full movie name" required>
                    <div class="autocom-box">
                        <!-- here list are inserted from javascript -->
                    </div>
                </form>
            </div>
        </div>

        <p class="paragraph">The model uses <b>Content Based Recommendations</b> to find similar movies. 
            The Content-Based Recommender relies on the similarity of the items being recommended.<br>
            The basic idea is that if you like an item, then you will also like a “similar” item. 
            It generally works well when it's easy to determine the context/properties of each item.<br>
            Movie <b>genres</b> were used to measure similarity.<br>
    </div>
    
    <h2 class="popular-movies-title">Trending Now</h2>
    <!-- Popular movies gotten from the TMDB Api -->
    <div class="movie-cards">
        <div class="movie-cards-items">
            <img class="popular__poster" src="{{ posters[0] }}">
            <h3 class="popular__title">{{ movie_title[0] }}</h3>
            <div class="popular__rating__year">
                <h5 class="popular__rating"><i class="fas fa-star"></i>{{ ratings[0] }}</h5>
                <h5 class="popular__year">{{ year[0] }}</h5>
            </div>
        </div>
        <div class="movie-cards-items">
            <a href=""><img class="popular__poster" src="{{ posters[1] }}"></a>
            <h3 class="popular__title">{{ movie_title[1] }}</h3>
            <div class="popular__rating__year">
                <h5 class="popular__rating"><i class="fas fa-star"></i>{{ ratings[1] }}</h5>
                <h5 class="popular__year">{{ year[1] }}</h5>
            </div>
        </div>
        <div class="movie-cards-items">
            <img class="popular__poster" src="{{ posters[2] }}">
            <h3 class="popular__title">{{ movie_title[2] }}</h3>
            <div class="popular__rating__year">
                <h5 class="popular__rating"><i class="fas fa-star"></i>{{ ratings[2] }}</h5>
                <h5 class="popular__year">{{ year[2] }}</h5>
            </div>
        </div>
        <div class="movie-cards-items">
            <img class="popular__poster" src="{{ posters[3] }}">
            <h3 class="popular__title">{{ movie_title[3] }}</h3>
            <div class="popular__rating__year">
                <h5 class="popular__rating"><i class="fas fa-star"></i>{{ ratings[3] }}</h5>
                <h5 class="popular__year">{{ year[3] }}</h5>
            </div>
        </div>
        <div class="movie-cards-items">
            <img class="popular__poster" src="{{ posters[4] }}">
            <h3 class="popular__title">{{ movie_title[4] }}</h3>
            <div class="popular__rating__year">
                <h5 class="popular__rating"><i class="fas fa-star"></i>{{ ratings[4] }}</h5>
                <h5 class="popular__year">{{ year[4] }}</h5>
            </div>
        </div>
    </div>

    <nav class="footer">
        <div style="text-align: center;">
            <a href="mailto:babatolatemi@gmail.com"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/BBimie"><i class="fab fa-github"></i></a>
            <a href="lhttps://www.linkedin.com/in/temitope-babatola/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://bimie.medium.com/"><i class="fab fa-medium-m"></i></a>
            <a href="https://twitter.com/BimboBabatola"><i class="fab fa-twitter"></i></a>
        </div>
        <div>
            <p style="text-align: center;">Temitope Bimbo Babatola</p>
        </div>
    </nav>

    <script src="../static/script.js" type="text/javascript"></script> 

</body>
</html>
