<!DOCTYPE html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='negativepage.css') }}">
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-bar-home">
            <a href="/">Home</a>
        </div>
        <div class="nav-bar-links">
            <a href="https://github.com/BBimie/Movie-Recommender-System" target="_blank" class="nav-bar-links-items">Code</a>
            <a href="https://bimie.medium.com/movie-recommender-system-931360f8e2a0?source=friends_link&sk=5e5c9dec30cef7e8982376a0aa120b30" target="_blank" class="nav-bar-links-items">Article</a>
            <a href="https://data-science-portfolio-website-git-main-bbimie.vercel.app/" target="_blank" class="nav-bar-links-items">Portfolio</a>
        </div>
    </nav>

    <div class="main">
        <h1>Try Again</h1>
        <h3>Failed to find any recommendations for {{ movie_title }}</h2>
        <h5>Please try again with a different movie</h5>
    </div>

    <div class="footer">
        <div>
            <a href="mailto:babatolatemi@gmail.com"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/BBimie"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/temitope-babatola/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://bimie.medium.com/"><i class="fab fa-medium-m"></i></a>
            <a href="https://twitter.com/BimboBabatola"><i class="fab fa-twitter"></i></a>
        </div>
        <p>Temitope Bimbo Babatola</p>
    </div>
</body>